<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<link href="~/Scripts/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
	<link href="~/Scripts/jqwidgets/styles/jqx.bootstrap.css" rel="stylesheet" />

	@RenderSection("CSS", false)

	<script src="~/Scripts/jquery-2.1.4.min.js"></script>

	@RenderSection("Script", false)




	<title>@ViewBag.Title</title>
</head>
<body>
	<div>
		@RenderBody()
	</div>
</body>
</html>
