@{
	ViewBag.Title = "Index";
}
<h2>Index</h2>


<div id="reposTemplate" class="template">
	<ul>
		{{#repo}}
		<li><b>{{name}}</b></li>
		{{/repo}}
	</ul>
</div>

<div id="repos"></div>

<script language="javascript">
	// http://mustache.github.io/mustache.5.html
	// https://github.com/janl/mustache.js
	// http://twitter.github.io/hogan.js/
	var repos = {
		"repo": [
			{ "name": "resque" },
			{ "name": "hub" },
			{ "name": "rip" }
		]
	};
	debugger;
	var template = Hogan.compile($('#reposTemplate').html());
	$('#repos').html(template.render(repos));
</script>






