@{
	ViewBag.Title = "Index";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://twitter.github.com/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>

<link href="~/Content/Home.css" rel="stylesheet" />

<h2>Index</h2>


<div id="reposTemplate" class="template">
	<ul>
		{{#repo}}
		<li><b>{{name}}</b></li>
		{{/repo}}
	</ul>
</div>

<div id="repos"></div>

<script language="javascript">
	// http://mustache.github.io/mustache.5.html
	// https://github.com/janl/mustache.js
	// http://twitter.github.io/hogan.js/
	var repos = {
		"repo": [
			{ "name": "resque" },
			{ "name": "hub" },
			{ "name": "rip" }
		]
	};
	var template = Hogan.compile($('#reposTemplate').html());
	$('#repos').html(template.render(repos));
</script>






