<!DOCTYPE html>

<html ng-app="app">
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="~/Content/ui-grid-unstable.min.css" rel="stylesheet" />

	@RenderSection("CSS", false)

	<script src="~/Scripts/jquery-2.1.4.min.js"></script>
	<script src="~/Scripts/angular.min.js"></script>
	<script src="~/Scripts/angular-touch.min.js"></script>
	<script src="~/Scripts/angular-animate.min.js"></script>
	<script src="~/Scripts/ui-grid-unstable.min.js"></script>

	@RenderSection("Script", false)

	<title>@ViewBag.Title</title>
</head>
<body>
	<div>
		@RenderBody()
	</div>
</body>
</html>
